@import "./medias.css";

@font-face {
  font-family: "Stangith";
  src: url("/public/fonts/stangith.ttf") format("truetype");
}

:root {
  --sub: #afcfa3;
  --light-one: #bde3aeb1;
  --light-two: #cdf0bfb1;
  --sub-light: #d9d9d9;
  --accent: #7a9c57;
  --dark-accent: #709050;
  --dirty-white: #f2f5ed;
  --white: #ffffff;
}

.font-karla {
  font-family: var(--font-karla);
}
.font-kotta {
  font-family: var(--font-kotta-one);
}
.font-stangith {
  font-family: var(--font-stangith);
}

.intro {
  padding-top: 2rem;
  height: 80dvh;
  background-color: var(--sub);
  font-family: "Stangith", sans-serif;

  .text-container {
    height: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .name {
    font-size: 8rem;
  }

  .tag-line {
    letter-spacing: 3px;
    font-size: 2rem;
    font-style: italic;
    font-family: "Kotta One";
  }

  .desc {
    font-family: "Kotta One";
    letter-spacing: 3px;
    font-size: 1rem;
  }
}

.intro p {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  line-height: 1 !important;
}

.white-bg-section {
  background-color: var(--white);
}

.cloud-container img {
  width: 100%;
  height: auto;
}

.intro div:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.intro div:last-child img {
  width: 100%;
  height: auto;
}

.video-gif {
  pointer-events: none;
}

.video-gif::-webkit-media-controls {
  display: none !important;
}

.video-gif::-webkit-media-controls-panel {
  display: none !important;
}

.video-gif::-webkit-media-controls-play-button {
  display: none !important;
}

.video-gif::-webkit-media-controls-start-playback-button {
  display: none !important;
}

.overlay h3 {
  color: #fff;
  font-size: 1.5rem;
}

.project-item:hover .project-image img {
  transform: scale(1.1);
}

.project-item:hover .overlay {
  opacity: 1;
}

.projects-container {
  position: relative;
  width: 80%;
}

.green-background {
  background-color: var(--sub);
  padding: 2rem;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  width: 100%;
}

.light-green-background {
  background-color: var(--light-one);
  padding: 2rem;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  width: 100%;
}

/* Section title */

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-title h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-family: "Stangith", sans-serif;
  letter-spacing: 3px;
  padding: 0 16px 10px 16px;
  color: var(--dark-accent);
}

.section-title h1::before,
.section-title h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px; /* Length of the line */
  height: 1.5px; /* Thickness of the line */
  background-color: var(--accent);
}

.section-title h1::before {
  left: -120px; /* Adjust distance from the text */
}

.section-title h1::after {
  right: -120px; /* Adjust distance from the text */
}

/* Website */

.self-img img {
  width: 100%;
  height: auto;
  align-items: end;
}

.self-img {
  align-items: end;
}

.profile-card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
  width: 100%;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  margin: 0 0 15px;
}

.about-me {
  font-family: "Karla", sans-serif !important;
}

.title .highlight {
  display: inline-block;
  background-color: var(--light-two);
  padding: 0 5px;
  border-radius: 4px;
  color: #003d33;
  font-weight: bold;
}

.description {
  font-size: 18px;
  display: inline-block;
  position: relative;
  line-height: 1.6;
  margin-bottom: 10px;
}

.learn-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2a58e;
  color: #fff;
  font-size: 12px;
  font-weight: semi-bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
  letter-spacing: 1px;
}

.learn-more:hover {
  background-color: var(--accent);
}

.description span {
  position: relative;
  color: #003d33;
  z-index: 1;
}

.description span:hover {
  cursor: pointer;
}

#develop {
  cursor: pointer;
}

.contact-info p {
  color: #515151;
  font-size: 0.85rem !important;
}

.about-me {
  height: 60vh;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
